@media screen and (min-width: 768px) {
   .cart{
    width: 30vw;
    min-width: 450px;
    height: 100%;
   }
}

@media screen and (max-width:600px) {
    .cart-icons .count{
        font-weight: 600;
        position: absolute;
        top: -12px;
        left: 41px;
        color: var(--black);
    }

    .slide {
        width: 100%;
        height: 15rem;
    }

    .to-top{
        right: 7%;
    }

    .grid-display{
        grid-template-columns:
            repeat(auto-fit,
            minmax(13rem, 1fr)
            );
        row-gap: 1rem ;
        column-gap: 1rem;
        margin: 0;
        
    }
    .product-item{
        width: 12rem;
    }

    .product-item .product-img{
        width: 11rem;   
      }

    .product-img img{
        width: 11rem;
        height: 11rem;
    }

    .item-collection{
            grid-template-columns:
                repeat(auto-fit,
                minmax(10rem, 1fr));
            row-gap: 0.5rem;
            column-gap: 1rem;
            margin: 0;
    }
    
    .items{
        width: 12rem;

    }

    .items .item{
        width: 11rem;
        margin-top: 5px;
    }

    .item img{
        margin: 0 auto;
        width: 11rem;
        height: 13rem;
    }

    .clear-all{
        font-size: 30px;
    }
    
    .close-cart{
        font-size: 30px;
        border: 2px solid rgb(156, 60, 60);
        padding: 2rem;
        margin: 3px;
    }

    #cart-box{
        font-size: 35px;
    }

    
    .cart-item .cart-items span {
        font-size: 30px;
    }

    .item-amount i{
        font-size: 30px;
    }

}