.products .product > *{
    padding-left: 12px;
    margin: 10px;
    cursor: pointer;
}

.active{
    color:#db6400;
}

input[type=radio]{
    display: none;
}

.item-collection{
    display: grid;
        grid-template-columns:
            repeat(auto-fit,
            minmax(13rem, 1fr));
        row-gap: 1.7rem;
        column-gap: 1.7rem;
}

.items{
    width: 14rem;
    border: 1px solid rgba(0, 0 ,0 , 0.3);
    border-radius: 0.7rem;
    box-shadow: 0 0 50px rgb(194, 184, 184);
    margin-bottom: 3px;
    margin: 3px auto;
    animation: slide-up ease .4s;
    transition: all .4s ease-in;
}

.items:hover{
    box-shadow: 0 0 50px rgb(107, 98, 98);
}

.item{
    width: 13rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 15px;
    margin-bottom: 7px;
}

.item img{
    margin: 0 auto;
    width: 13rem;
    height: 16rem;
    border-radius: 2px;
    margin-top: 8px;
    cursor: pointer;        
}

.item img:hover{
    opacity: 0.9;
}

.item h2{
    text-align: center;
    font-size: 20px;
}

.item p{
    text-align: center;
}

.cart-btn{
    margin: auto;
    padding: 6px;
    border: none;
    outline: none;
    background-color: #db6400;
    border-radius: 3px;
    color: white;
}

.cart-btn:hover {
    opacity: 0.7;
}

@keyframes slide-up {
    from{
        transform: translateY(20%);
    }to{
        transform: translateY(0);
    }
}