* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    position: sticky;
    top: 0;
    z-index: 1;
}

.hero-section{
    min-height: 100vh;
    background-color: grey;
    display: flex;
}

.hero{
    margin: auto;
}

.btn-shop{
    height: 3.5rem;
}

.icon{
    margin-right: 2px;
    font-size: 1.2rem;
}

.cart{
    position: relative;
    cursor: pointer;
}

.count{
    position: absolute;
    top: 7px;
    right: 9px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 40%;
    padding: 0.3px;
}